* {
    box-sizing: border-box;
  }

html { 
  background: url(../img/ian-schneider-PAykYb-8Er8-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15% 0 0;  
}

.container {
  background: grey;
  color: white;
  width: 50%;
  min-width: 225px;
  margin: auto;
}
  
.inner-container {
  width: 90%;
}

.bottom {
  position: absolute;
  width: 50%;
  padding: 0.6em 0 0 0;
}

.content,.auto {
  margin-left:auto;
  margin-right:auto;
}

.padding-16 {
  padding-top:1em!important;
  padding-bottom:1em!important
}

.center {
  text-align:center!important
}

.opacity {
  opacity:0.85;
}

.xlarge {
  font-size: 2rem
}

.button, .button:hover {
  color:#000!important;
  background-color:#ccc!important;
  padding: 1em;
}

.block {
  display: block;
  width:100%;
}

.round {
  border-radius:4px;
}

.black,.hover-black:hover {
  color:#fff!important;
  background-color:#000!important
}

.amber,.hover-amber:hover {
  color:#000!important;
  background-color:#ffc107!important
}

.text-amber,.hover-text-amber:hover {
  color:#ffc107!important;
}

.text-dark-grey,.hover-text-dark-grey:hover,.text-dark-gray,.hover-text-dark-gray:hover {
  color:#3a3a3a!important;
}

.blue-grey,.hover-blue-grey:hover,.blue-gray,.hover-blue-gray:hover {
  color:#fff!important;
  background-color:#607d8b!important;
}